<h1>Cash flow</h1>
<% @cash_flow_days.each do |day| %>
  <div>
    <p>
      Day: <%= day[:date]%> | Income: <%= day[:income]%>
      | Fixed Expense: <%= day[:fixed_expense]%>
      | Daily Expense: <%= day[:daily_expense]%>
      | Balance: <%= day[:balance]%>
    </p>
  </div>
<% end %>
